*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 1000px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 300px;
    width: 300px;
    background-color: lightgreen;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s linear 1s;
}
.box:hover {
/* transform: rotate(320deg);
transform: scale(0.5);  */
transform: translate(400px);
}